@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background: url(./images/thumbnail.jpg) no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.wrapper {
  height: 90%;
  width: 90%;

  border-radius: 30px;
  background: linear-gradient(
    107deg,
    rgba(255, 255, 255, 0.05) 3.44%,
    rgba(255, 255, 255, 0.02) 64.82%
  );
  backdrop-filter: blur(15px);
  padding: 0 5rem;
  padding-top: 1rem;
}

.navbar {
  display: flex;
  /* background-color: red; */
  width: 100%;
  height: 7vh;
  align-items: center;
  justify-content: space-between;

  /* background-color: red; */
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar > a {
  font-weight: 500;
  font-size: 1.5rem;
}

#nav-part2 {
  display: flex;
  gap: 2rem;
  font-size: 0.85rem;
}

#nav-part2 a {
  position: relative;
}

#nav-part2 a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  top: 100%;
  left: 0;
  background-color: white;
  transition: 0.5s ease;
}

#nav-part2 a:hover::before {
  width: 100%;
}

.hero {
  width: 100%;
  height: 75vh;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  width: 60%;
}

.left h1 {
  color: #fff;
  width: 50%;
}

.left p {
  color: #fff;
  margin-top: 0.5rem;
  margin-bottom: 1.3rem;
  width: 80%;
}

.left a {
  color: #fff;
  text-decoration: none;
  background-color: #f2672e;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

.left span:nth-of-type(1) {
  background: var(
    --Yellow-Red-Gradient,
    linear-gradient(90deg, #f59e0b 39.95%, #ef4444 77.15%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 110%;
  font-weight: 700;
}

.left span:nth-of-type(2) {
  background: var(
    --Purple-Pink-Gradient-2,
    linear-gradient(90deg, #8b5cf6 0%, #ec4899 43.9%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 110%;

  font-weight: 700;
}

body > img:nth-of-type(1) {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 50%;
}

body > img:nth-of-type(2) {
  position: absolute;
  z-index: 1000;
  right: 4%;
  top: 5%;
}

@media only screen and (max-width: 650px) {
  .wrapper {
    padding: 0;
  }

  .navbar {
    padding-inline: 2rem;
    padding-top: 2rem;
  }
  #nav-part2 {
    display: none;
    padding-inline: 0.1rem;
  }


  .hero {
    flex-direction: column-reverse;
    gap: 1.5rem;
    padding-inline: 2rem;
  }

  .left {
    /* background-color: red; */
    height: 50%;
    width: 100%;
  }

  .right {
    /* background-color: aqua; */
    height: 50%;
    width: 100%;
  }
  .right img {
    width: 100%;
  }

  .left h1 {
    /* display:  none; */
    font-size: 1.3rem;
   /* background-color: green; */
   width: 100%;
  }

  .left p {
    font-size: .8rem;
    padding-block: 1rem;
  }

  body > img {
    display: none;
  }
}


@media only screen and (min-width: 650px) and (max-width: 768px){

  body > img:nth-of-type(1) {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 80%;
    width: 50px;
    /* background-color: red; */
  }

  .hero {
    flex-direction: column-reverse;
    padding: 0;

  }
  .left {
    /* background-color: aqua; */
    width: 100%;
    
  }

  .left p {
    padding-block: 1rem;
  }

  .left h1 {
    width: 60%;
    font-size: 1.4rem;
  }

  .left a {
    font-size: .8rem;
  }

  .right {
    /* background-color: red; */
    width: 100%;
    text-align: center;
  }

  .right img {
    width: 80%;
    
  }


}
